<a href="https://colab.research.google.com/github/19PA1A0523/ensemble-methods/blob/master/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection  import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [6]:
fi=pd.read_csv("diabetes.csv")
fi

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

use isna()function to find out whether there are missing values inthe give data set.if there are missing values it returns true and viceversa

In [7]:
fi.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

to print only firt five rows used head() function

In [8]:
fi.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

From pregnancy to age each and every heading is a feature in our data set

Out come is the label or target

now,let us split the data into test and train sets to prepare our model

In [0]:
x=fi[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]	
y=fi[["Outcome"]]

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

Decision Trees are a non-parametric supervised learning method used for both classification and regression tasks. The goal is to create a model that predicts the value of a target variable by learning simple decision rules inferred from the data features

Let us apply this decision tree classifier  to our data set

In [0]:
dt=DecisionTreeClassifier()

In [0]:
model3=dt.fit(x_train,y_train)

In [0]:
y_pred3=model3.predict(x_test)

In [14]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred3))

Accuracy : 0.7532467532467533

ADABOOST CLASSIFIER

An AdaBoost  classifier is a meta-estimator that begins by fitting a classifier on the original dataset and then fits some more copies of the classifier on the same dataset but where the weights of incorrectly classified instances are adjusted such that  classifiers focus more on difficult cases.

Let us apply the adaboost clasifier on our data set taken

In [0]:
ab=AdaBoostClassifier()

In [16]:
model2=ab.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
y_pred2=model2.predict(x_test)

In [18]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred2))

Accuracy : 0.7337662337662337

RANDOM FOREST CLASSIFIER

Random forest is a supervised learnimng algorithm.It can be used for both classification and regression.It creates decision trees on randomly selected data samples,gets prediction from each tree and selects the best solution by means of voting.It is one of the most famous bagging techniques

Let us apply random forest classifier to our dataset

In [0]:
rf=RandomForestClassifier(n_estimators=100)

In [20]:
model=rf.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
y_pred1=model.predict(x_test)

In [22]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred1))

Accuracy : 0.7402597402597403

CONCLUSIONS

There is a slight variation in the accuracy in all the three cases

Random forest will reduce variance part of error rather than bias part, so on a given training data set decision tree may be more accurate than a random forest. But on an unexpected validation data set, Random forest always wins in terms of accuracy.

Random forest is a better one compared to adaboost since it gave us good accuracy

But,in the case of comparision with decision tree classifier,decision tree  gave us slightly more accuracy than the remaining two.

this accuracy depends upon the dataset choen.So we ha to use our classifier accordingly.